---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.jsx';
import Projects from '../components/Projects.jsx';
import Experience from '../components/Experience.jsx';
import Skills from '../components/Skills.jsx';
---

<Layout>
  <main class="relative z-10">
    <Hero client:load />
    <Projects client:load />
    <Experience client:load />
    <Skills client:load />
  </main>
</Layout>
