---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Education from '../components/Education.astro';
import TrustedBy from '../components/TrustedBy.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import Skills from '../components/Skills.astro';
import OpenSource from '../components/OpenSource.astro';
import Charlas from '../components/Charlas.astro';
import Testimonios from '../components/Testimonios.astro';
import Contact from '../components/Contact.astro';
---

<Layout>
  <main id="main-content" class="relative z-10">
    <Hero />
    <About />
    <Education />
    <TrustedBy />
    <Experience />
    <div class="relative h-24 -mt-1 overflow-hidden">
      <svg viewBox="0 0 1440 100" preserveAspectRatio="none" class="absolute inset-0 w-full h-full">
        <path d="M0,30 C360,80 1080,0 1440,40 L1440,100 L0,100 Z" fill="rgba(168,85,247,0.02)" />
      </svg>
    </div>
    <Projects />
    <OpenSource />
    <Charlas />
    <Testimonios />
    <Skills />
    <Contact />
  </main>
</Layout>
