---
interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<span class={`text-sm px-3 py-1.5 rounded-full bg-accent/20 text-primary border border-accent/20 ${className ?? ''}`}>
  <slot />
</span>
